.calculator-standart {
  width: 400px;
  margin: 1rem auto;
  padding: 1.2rem;
  border-radius: 4px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);

  h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
    color: black;
  }

  .display {
    //background: #1e1e1e;
    //color: #fff;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.4rem 0.75rem;
    text-align: right;
    margin-bottom: 1rem;

    .output {
      height: 3.3rem;
      font-size: 2.3rem;
      color: black;
      font-weight: bold;
      text-overflow: ellipsis;
      overflow-x: auto;
      border-bottom: 2px solid #ddd;
    }

    .input {
      height: 1.3rem;
      font-size: 1rem;
      color: darkblue;
      text-overflow: ellipsis;
      overflow-x: auto;
      //white-space: nowrap;
      //overflow: hidden;
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7rem;

    button {
      padding: 0.7rem;
      font-size: 1.8rem;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 3px;
      cursor: pointer;
      transition: font-weight .3s ease-in-out, background-color .3s ease, box-shadow .3s ease;

      &:hover {
        background-color: #f1f1f1;
        box-shadow: 3px 3px 4px 0 lightgrey;
        font-weight: bold;
      }

      &.equal {
        grid-row: span 2;
        color: #fff;
        border-color: darkblue;
        background-color: darkblue;
        transition: all .2s ease-in-out;

        &:hover {
          background-color: mediumblue;
          border-color: mediumblue;
        }
      }

      &.zero {
        grid-column: span 2;
      }

      &.numbers {
        background-image: url("@/assets/background/background08.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.operator {
        border-color: lightsteelblue;
        background-color: lightsteelblue;
        transition: all .3s ease-in-out;
        color: white;

        &:hover {
          background-color: lightskyblue;
          border-color: lightskyblue;
        }
      }

      &.clear {
        background-color: lightseagreen;
        border-color: lightseagreen;
        transition: all .3s ease-in-out;
        color: white;

        &:hover {
          background-color: #4bd2ca;
          border-color: #4bd2ca;
        }
      }

      &.dot {
        border-color: steelblue;
        background-color: steelblue;
        transition: all .3s ease-in-out;
        color: white;

        &:hover {
          background-color: deepskyblue;
          border-color: deepskyblue;
        }
      }

      &.backspace {
        border-color: darkred;
        background-color: darkred;
        transition: all .3s ease-in-out;
        color: white;

        &:hover {
          background-color: lightcoral;
          border-color: lightcoral;
          font-weight: bold;
        }
      }
    }
  }
}

@media(max-width: 1020px) {
  .calculator-standart {
    display: inline-block;
    width: 400px;
    margin: 1rem;
    padding: 1.2rem;
    border-radius: 5px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.8rem;
    }
  }
}

@media (max-width: 768px) {
  .calculator-standart {
    display: inline-block;
    width: 360px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 4px;

    h2 {
      font-size: 1.4rem;
      margin-bottom: 0.6rem;
    }

    .display {
      border-radius: 4px;
      padding: 0.3rem 0.75rem;
      margin-bottom: 0.8rem;

      .output {
        height: 2.8rem;
        font-size: 1.8rem;
      }

      .input {
        height: 1.2rem;
        font-size: 0.9rem;
      }
    }

    .buttons {
      gap: 0.5rem;

      button {
        padding: 0.7rem;
        font-size: 1.6rem;
      }
    }
  }
}