.cube-js-container {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
  width: 100%;
  height: 73vh;
  overflow: hidden;

  .cube {
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center center;
    transition: transform 0.3s ease;
    animation: 10s rotate infinite linear;

    .face {
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      //opacity: 0.8;
    }

    //.front { background-color: #3498db; }
    //.back { background-color: #e74c3c; }
    //.left { background-color: #2ecc71; }
    //.right { background-color: #f39c12; }
    //.top { background-color: #9b59b6; }
    //.bottom { background-color: #34495e; }

    .front {
      background-image: url("@/assets/img/cube/front.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .back {
      background-image: url("@/assets/img/cube/back.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .left {
      background-image: url("@/assets/img/cube/left.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .right {
      background-image: url("@/assets/img/cube/right.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .top {
      background-image: url("@/assets/img/cube/top.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .bottom {
      background-image: url("@/assets/img/cube/bottom.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    @keyframes rotate {
      0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
      }
      25% {
        transform: rotateX(900deg) rotateY(1800deg) rotateZ(450deg);
      }
      50% {
        transform: rotateX(1800deg) rotateY(3600deg) rotateZ(900deg);
      }
      75% {
        transform: rotateX(2700deg) rotateY(5400deg) rotateZ(1350deg);
      }
      100% {
        transform: rotateX(3600deg) rotateY(7200deg) rotateZ(1800deg);
      }
    }
  }
}