.inner-container {
  .cube-scale {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem auto 0;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    label {
      font-size: 1.8rem;
      font-weight: bold;
      color: darkblue;
      margin-right: 0.5rem;
    }

    input[type="range"] {
      width: 200px;
      height: 6px;
      -webkit-appearance: none; // убираем стандартный стиль
      background: transparent; // чтобы фон не мешал

      // трек (полоска)
      &::-webkit-slider-runnable-track {
        height: 6px;
        background: linear-gradient(to right, #4caf50, #2196f3); // зелёно-синяя
        border-radius: 3px;
      }

      &::-moz-range-track {
        height: 6px;
        background: linear-gradient(to right, #4caf50, #2196f3);
        border-radius: 3px;
      }

      // бегунок (кружок)
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 2px solid #4caf50;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -5px; // центрируем по полоске
      }

      &::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: #fff;
        border: 2px solid #4caf50;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .slider-button {
        $hover-color: lightseagreen;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        color: $hover-color;
        font-size: 1.6rem;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {color: darken($hover-color, 15%);}
        &:active {color: darken($hover-color, 25%);}
      }

      .minus {
        $hover-color: deeppink;
        color: $hover-color;
        transition: color 0.3s;

        &:hover {color: darken($hover-color, 15%);}
        &:active {color: darken($hover-color, 25%);}
      }

      .reset {
        $hover-color: red;
        color: blue;
        margin: 0 0.2rem;
        transition: color 0.3s, text-shadow 0.3s;

        &:hover {color: $hover-color; text-shadow: 2px 2px 4px black;}
        &:active {color: darken($hover-color, 10%); text-shadow: 2px 2px 4px black;}
      }
    }

    .scale-value {
      background: linear-gradient(to bottom, rgb(229, 251, 255), rgb(255, 240, 244)) no-repeat center;
      margin-left: 0.5rem;
      padding: 0.2rem 0.5rem;
      font-size: 1.4rem;
      font-weight: bold;
      color: darkblue;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 8px;
      //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
    }
  }
  .cube-js-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 2000px;
    width: 100%;
    height: 66vh;
    overflow: hidden;

    .cube {
      position: relative;
      transform-style: preserve-3d;
      transform-origin: center center;
      transition: transform 0.3s ease;
      animation: 10s rotate infinite linear;

      .face {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        //opacity: 0.8;
      }

      //.front { background-color: #3498db; }
      //.back { background-color: #e74c3c; }
      //.left { background-color: #2ecc71; }
      //.right { background-color: #f39c12; }
      //.top { background-color: #9b59b6; }
      //.bottom { background-color: #34495e; }

      .front {
        background-image: url("@/assets/img/cube/front.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .back {
        background-image: url("@/assets/img/cube/back.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .left {
        background-image: url("@/assets/img/cube/left.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .right {
        background-image: url("@/assets/img/cube/right.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .top {
        background-image: url("@/assets/img/cube/top.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .bottom {
        background-image: url("@/assets/img/cube/bottom.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      @keyframes rotate {
        0% {
          transform: rotateX(0) rotateY(0) rotateZ(0);
        }
        25% {
          transform: rotateX(900deg) rotateY(1800deg) rotateZ(450deg);
        }
        50% {
          transform: rotateX(1800deg) rotateY(3600deg) rotateZ(900deg);
        }
        75% {
          transform: rotateX(2700deg) rotateY(5400deg) rotateZ(1350deg);
        }
        100% {
          transform: rotateX(3600deg) rotateY(7200deg) rotateZ(1800deg);
        }
      }
    }
  }
}

@media(max-width: 1020px) {
  .inner-container {
    .cube-scale {
      margin: 0.5rem auto 0;
      padding: 0.4rem 1.2rem;
      border-radius: 13px;
      label {
        font-size: 1.6rem;
        font-weight: bold;
        margin-right: 0.4rem;
      }

      input[type="range"] {
        width: 150px;
        height: 5px;

        &::-webkit-slider-thumb {
          width: 14px;
          height: 14px;
          margin-top: -4.5px;
        }

        &::-moz-range-thumb {
          width: 14px;
          height: 14px;
        }
      }

      .controls {
        gap: 4px;

        .slider-button {font-size: 1.4rem;}
        .reset {margin: 0 0.2rem;}
      }

      .scale-value {
        margin-left: 0.3rem;
        padding: 0.2rem 0.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 6px;
      }
    }

    .cube-js-container {
      perspective: 2000px;
      height: 66vh;
    }
  }
}

@media (max-width: 768px) {
  .inner-container {
    .cube-scale {
      margin: 0.4rem auto 0;
      padding: 0.4rem 0.6rem;
      border-radius: 10px;
      label {
        font-size: 1.3rem;
        font-weight: normal;
        margin-right: 0.3rem;
      }

      input[type="range"] {
        width: 120px;
        height: 4px;

        //&::-webkit-slider-thumb {
        //  width: 12px;
        //  height: 12px;
        //  margin-top: -4px;
        //}
        //
        //&::-moz-range-thumb {
        //  width: 12px;
        //  height: 12px;
        //}
      }

      .controls {
        gap: 4px;

        .slider-button {font-size: 1.3rem;}
        .reset {margin: 0 0.3rem;}
      }

      .scale-value {
        margin-left: 0.3rem;
        padding: 0.2rem 0.2rem;
        font-size: 0.9rem;
        font-weight: normal;
        border-radius: 6px;
      }
    }

    .cube-js-container {
      perspective: 2000px;
      height: 66vh;
    }
  }
}

