.project4 {
  flex: 1 0 auto;
  //background: linear-gradient(to bottom, rgb(252, 241, 253), rgb(234, 250, 245)) no-repeat center;
  background-image: url("@/assets/background/background07.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      font-size: 2.5rem;
      margin: 0.7rem auto;
      color: black;
    }

    h2, h3, p {
      margin: 0;
      padding: 0;
    }

    .start {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 1rem auto;

      .btn-rules, .btn-newGame {
        padding: 0.5rem 1rem;
        margin-left: 0.8rem;
        font-size: 1.4rem;
        font-weight: bold;
        background-image: url("@/assets/background/background05.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid dimgray;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
      }

      button:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        border: 1px solid gray;
      }
      .btn-rules {margin-left: 0;}
    }

    .memory-game {
      display: grid;
      margin: 1rem auto;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 0.5rem;
      width: 50%;
      justify-content: center;
    }

    .memory-card {
      position: relative;
      width: 12rem;
      height: 12rem;
      margin: 0.4rem;
    }

    .memory-card .front-face,
    .memory-card .back-face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: scale(1);
      transition: transform 0.5s;
      transform-style: preserve-3d;
    }

    .memory-card .front-face {
      transform: rotateY(180deg);
    }

    .memory-card.flipped .front-face {
      transform: rotateY(0deg);
    }

    .memory-card.flipped .back-face {
      transform: rotateY(-180deg);
    }

    .memory-card.matched {
      opacity: 0.5;
    }

    .front-face,
    .back-face {
      //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      //border-radius: 10px;
    }

    .front-face {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .back-face {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}

@media(max-width: 1020px) {
  .project4 {
    .container {
      h1 {font-size: 2.3rem;margin: 0.6rem auto;}

      .start {
        margin: 0.9rem auto;

        .btn-rules, .btn-newGame {
          padding: 0.5rem 0.9rem;
          margin-left: 0.8rem;
          font-size: 1.4rem;
          border-radius: 5px;
        }
        .btn-rules {margin-left: 0;}
      }

      .memory-game {
        margin: 0.4rem auto;
        grid-column-gap: 0.4rem;
        width: 50%;
      }

      .memory-card {
        width: 10rem;
        height: 10rem;
        margin: 0.3rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .project4 {
    .container {
      h1 {font-size: 2rem;margin: 0.5rem auto;}

      .start {
        margin: 0.7rem 0;

        .btn-rules, .btn-newGame {
          padding: 0.5rem 0.9rem;
          margin-left: 0.8rem;
          font-size: 1.4rem;
          border-radius: 5px;
        }
        .btn-rules {margin-left: 0;}
      }

      .memory-game {
        margin: 0.5rem auto;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0.3rem;
        width: 30%;
      }
      .memory-card {
        width: 7rem;
        height: 7rem;
        margin: 0.2rem;
      }
    }
  }
}